NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

NEXT_PUBLIC_APPWRITE_PROJECT_ID=orbit-flag
NEXT_PUBLIC_DATABASE_ID=orbit-flag
APPWRITE_API_KEY=

NEXT_PUBLIC_USER_COLLECTION_ID=user
NEXT_PUBLIC_TEAM_COLLECTION_ID=team
NEXT_PUBLIC_FLAG_COLLECTION_ID=flag
NEXT_PUBLIC_VARIATION_COLLECTION_ID=variation
NEXT_PUBLIC_CONDITION_COLLECTION_ID=condition